<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title">Login</h4>
                    </div>
                    <div class="card-body">
                        <form>
                            <div class="row">
                                <div class="col-md-4 offset-md-4">
                                    <mat-form-field class="example-full-width">
                                        <input [(ngModel)]="username" name="ngModel" matInput placeholder="Username">
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4 offset-md-4">
                                    <mat-form-field class="example-full-width">
                                        <input [(ngModel)]="password" name="ngModel" matInput placeholder="Password" type="password">
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4 offset-md-4">
                                    <div class="text-center">
                                        <button mat-raised-button
                                                type="submit"
                                                class="btn btn-danger"
                                                (click)="attemptLogin()">
                                            Login
                                        </button>
                                        <button mat-raised-button
                                                type="submit"
                                                class="btn btn-danger"
                                                (click)="goRegister()">
                                            Register
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
